<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link th:href="@{/admin/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- styles -->
    <link th:href="@{/admin/css/styles.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<![endif] -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="index.html">Admin </a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="profile.html">Profile</a></li>
                                        <li><a href="login.html">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li class="current"><a href="/room"><i class="glyphicon glyphicon-list"></i> Room</a></li>
                        <li class="current"><a href="/category"><i class="glyphicon glyphicon-list"></i> Category</a></li>
                        <li class="current"><a href="/bookAdmin"><i class="glyphicon glyphicon-list"></i> book</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Pages
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Rooms</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <th:block th:if="${message}">
                                <p class="text-success" th:text="${message} "></p>
                            </th:block>
                            <a href="/create-room">Create new Room</a>
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Image</th>
                                        <th>amount</th>
                                        <th>Time</th>
                                        <th>DateCheckIn</th>
                                        <th>DateCheckOut</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="room : ${listRooms}">
                                    <tr class="even gradeC">
                                        <td th:text="${room.name}"></td>
                                        <td th:text="${room.status}"></td>
                                        <td th:text="${room.price}"></td>
                                        <td th:text="${room.category.name}"></td>
                                        <td><img th:src="@{'/image/' + ${room.image}}" width="100px" height="140px"></td>
                                        <td th:text="${room.amount}"></td>
                                        <td th:text="${room.time}"></td>
                                        <td th:text="${room.dateCheckIn}"></td>
                                        <td th:text="${room.dateCheckOut}"></td>
                                        <td><a class="btn btn-primary glyphicon glyphicon-pencil" th:href="@{/edit-room/__${room.id}__ }">Edit</a>
                                            <a class="btn btn-danger glyphicon glyphicon-remove" th:href="@{/delete-room/__${room.id}__ }">Delete</a></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div>
                                <a th:href="@{'/room'(page=${listRooms.number - 1})}" th:if="${listRooms.hasPrevious()}">Previous</a>
                                <span th:text="${listRooms.number + 1}"></span>/<span th:text="${listRooms.totalPages}"></span>
                                <a th:href="@{'/room'(page=${listRooms.number + 1})}" th:if="${listRooms.hasNext()}">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link th:href="@{/admin/vendors/datatables/dataTables.bootstrap.css}" rel="stylesheet" media="screen">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/admin/bootstrap/js/bootstrap.min.js}"></script>
    <!-- 
    <script src="vendors/datatables/js/jquery.dataTables.min.js"></script>

    <script src="vendors/datatables/dataTables.bootstrap.js"></script> -->

    <script th:src="@{/admin/js/custom.js}"></script>
    <!-- <script src="js/tables.js"></script> -->
</body>

</html>