<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Suite &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/home/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/home/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/home/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/home/css/animate.css}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" th:href="@{/home/fonts/flaticon/font/flaticon.css}">

    <link rel="stylesheet" th:href="@{/home/css/aos.css}">

    <link rel="stylesheet" th:href="@{/home/css/style.css}">

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="index.html">Suites</a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">

                                        <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="active">
                                                <a href="/Home">Home</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="/Rooms">Rooms</a>
                                                <ul class="dropdown arrow-top">
                                                    <th:block th:each="c : ${category}">
                                                        <li><a th:href="@{/Rooms/__${c.id}__}" th:text="${c.name}"></a></li>
                                                    </th:block>
                                                </ul>
                                            </li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="">Login</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slide-one-item home-slider owl-carousel">

            <div class="site-blocks-cover overlay" th:style="'background-image: url('+ @{/home/images/hero_1.jpg} +');'" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">

                            <h1 class="mb-2">Welcome To Suites</h1>
                            <h2 class="caption">Hotel &amp; Resort</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" th:style="'background-image: url('+ @{/home/images/hero_2.jpg} +');'" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Unique Experience</h1>
                            <h2 class="caption">Enjoy With Us</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" th:style="'background-image: url('+ @{/home/images/hero_3.jpg} + ');'" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Relaxing Room</h1>
                            <h2 class="caption">Your Room, Your Stay</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Rooms</h2>
                    </div>
                </div>
                <div class="row">
                    <th:block th:each="r : ${categoryJoinRoom}">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail">
                                <img th:src="@{'/image/' + ${r.image}}" alt="Image" class="img-fluid">
                            </a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#" th:text="${r.category.name}"></a></h3>
                                <strong class="price" th:text="${r.amount + r.price +' / ' + r.time}"></strong>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </div>
            </div>
        </div>


        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-5 mb-md-0">

                        <div class="img-border">
                            <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                                <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                                </span>
                                <img th:src="@{/home/images/img_2.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>

                        <img th:src="@{/home/images/img_1.jpg}" alt="Image" class="img-fluid image-absolute">

                    </div>
                    <div class="col-md-5 ml-auto">


                        <div class="section-heading text-left">
                            <h2 class="mb-5">About Us</h2>
                        </div>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nisi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis magni eaque velit eum, id rem eveniet dolor possimus voluptas..</p>
                        <p><a href="https://vimeo.com/28959265" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Hotel Features</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-pool display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Swimming Pool</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Hotel Teller</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-exit display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Fire Exit</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-parking display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Car Parking</h2>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Hair Dryer</h2>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Minibar</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Drinks</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Car Airport</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5 upcoming-events" th:style="'background-image: url('+@{/home/images/hero_1.jpg} +'); background-attachment: fixed;'">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2 class="text-white">Summer Promo 50% Off</h2>
                        <a href="#" class="text-white btn btn-outline-warning rounded-0 text-uppercase">Avail Now</a>
                    </div>
                    <div class="col-md-6">
                        <span class="caption">The Promo will start in</span>
                        <div id="date-countdown"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Gallery</h2>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_1.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_1.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_2.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_2.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_3.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_3.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_4.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_4.jpg}" alt="Image" class="img-fluid"></a>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_4.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_4.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_5.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_5.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_6.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_6.jpg}" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a th:href="@{/home/images/img_7.jpg}" class="image-popup img-opacity"><img th:src="@{/home/images/img_7.jpg}" alt="Image" class="img-fluid"></a>
                    </div>

                </div>
            </div>
        </div>



        <div class="site-section block-15">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>


                <div class="nonloop-block-15 owl-carousel">


                    <div class="media-with-text p-md-5">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_1.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_2.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_3.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_1.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_2.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_3.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_1.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_2.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img th:src="@{/home/images/img_3.jpg}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>
                </div>

            </div>
        </div>


        <footer class="site-footer">
            <div class="container">


                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-heading mb-4 text-white">About</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                        <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Approach</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Ministries</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Children</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Bible Study</a></li>
                                    <li><a href="#">Church</a></li>
                                    <li><a href="#">Missionaries</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4 text-white">Social Icons</h3>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script th:src="@{/home/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/home/js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{/home/js/jquery-ui.js}"></script>
    <script th:src="@{/home/js/popper.min.js}"></script>
    <script th:src="@{/home/js/bootstrap.min.js}"></script>
    <script th:src="@{/home/js/owl.carousel.min.js}"></script>
    <script th:src="@{/home/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/home/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/home/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/home/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/home/js/aos.js}"></script>


    <script th:src="@{/home/js/mediaelement-and-player.min.js}"></script>

    <script th:src="@{/home/js/main.js}"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var mediaElements = document.querySelectorAll('video, audio'),
                total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function() {
                        var target = document.body.querySelectorAll('.player'),
                            targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });

    </script>

</body>

</html>