<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Suite &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/home/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/home/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/home/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/home/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/home/css/animate.css}">
    <link rel="stylesheet" th:href="@{/home/css/imagecheckbox.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/home/fonts/flaticon/font/flaticon.css}">

    <link rel="stylesheet" th:href="@{/home/css/aos.css}">

    <link rel="stylesheet" th:href="@{/home/css/style.css}">

</head>

<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap js-site-navbar bg-white">

        <div class="container">
            <div class="site-navbar bg-light">
                <div class="py-1">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h2 class="mb-0 site-logo"><a href="index.html">Suites</a></h2>
                        </div>
                        <div class="col-10">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">

                                    <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#"
                                                                                                   class="site-menu-toggle js-menu-toggle"><span
                                            class="icon-menu h3"></span></a></div>
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="active">
                                            <a href="/Home">Home</a>
                                        </li>
                                        <li class="has-children">
                                            <a href="/Rooms">Rooms</a>
                                            <ul class="dropdown arrow-top">
                                                <th:block th:each="c : ${category}">
                                                    <li><a th:href="@{/Rooms/__${c.id}__}" th:text="${c.name}"></a></li>
                                                </th:block>
                                            </ul>
                                        </li>
                                        <li><a href="events.html">Events</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-blocks-cover overlay" th:style="'background-image: url('+@{/home/images/hero_1.jpg}+');'"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <span class="caption mb-3">Luxurious Rooms</span>
                    <h1 class="mb-4">Hotel Rooms</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                    <h2 class="mb-5">Our Rooms</h2>
                </div>
            </div>
            <div class="row">
                <th:block type="checkbox" th:each="r : ${listRoomName}">
                    <input type="checkbox" th:text="${r.name}">
                </th:block>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <h3 class="footer-heading mb-4 text-white">About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat
                        amet.</p>
                    <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Approach</a></li>
                                <li><a href="#">Sustainability</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Ministries</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Children</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Bible Study</a></li>
                                <li><a href="#">Church</a></li>
                                <li><a href="#">Missionaries</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4 text-white">Social Icons</h3>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>

<script th:src="@{/home/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/home/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/home/js/jquery-ui.js}"></script>
<script th:src="@{/home/js/popper.min.js}"></script>
<script th:src="@{/home/js/bootstrap.min.js}"></script>
<script th:src="@{/home/js/owl.carousel.min.js}"></script>
<script th:src="@{/home/js/jquery.stellar.min.js}"></script>
<script th:src="@{/home/js/jquery.countdown.min.js}"></script>
<script th:src="@{/home/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/home/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/home/js/aos.js}"></script>


<script th:src="@{/home/js/mediaelement-and-player.min.js}"></script>

<script th:src="@{/home/js/main.js}"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mediaElements = document.querySelectorAll('video, audio'),
            total = mediaElements.length;

        for (var i = 0; i < total; i++) {
            new MediaElementPlayer(mediaElements[i], {
                pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                shimScriptAccess: 'always',
                success: function () {
                    var target = document.body.querySelectorAll('.player'),
                        targetTotal = target.length;
                    for (var j = 0; j < targetTotal; j++) {
                        target[j].style.visibility = 'visible';
                    }
                }
            });
        }
    });
    // image gallery
    // init the state from the input
    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox-checked');
        } else {
            $(this).removeClass('image-checkbox-checked');
        }
    });

    // sync the state to the input
    $(".image-checkbox").on("click", function (e) {
        $(this).toggleClass('image-checkbox-checked');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"))

        e.preventDefault();
    });
</script>

</body>

</html>