<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link th:href="@{/admin/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- styles -->
    <link th:href="@{/admin/css/styles.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">Bootstrap Admin Theme</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Sign Up</h6>
                        <th:block th:if="${message}">
                            <p class="text-success" th:text="${message}"></p>
                        </th:block>
                        <form th:action="@{/registration}" th:object="${user}" method="post">
                            <div class="form-group">
								<input class="form-control" type="text" placeholder="E-mail address" th:field="*{email}">
                                <label class="text-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                            </div>
							<div class="form-group">
								<input class="form-control" type="password" placeholder="Password" th:field="*{password}">
                                <label class="text-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
							</div>
							<div class="form-group">
								<input class="form-control" type="password" placeholder="Confirm Password" th:field="*{confirmPassword}">
                                <label class="text-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></label>
							</div>
                            <div class="action">
                                <button class="btn btn-primary signup" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="already">
                    <p>Have an account already?</p>
                    <a href="login.html">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/admin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/custom.js}"></script>
</body>
</html>