<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link th:href="@{/admin/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- styles -->
    <link th:href="@{/admin/css/styles.css}" rel="stylesheet">

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link th:href="@{/admin/vendors/form-helpers/css/bootstrap-formhelpers.min.css}" rel="stylesheet">
    <link th:href="@{/admin/vendors/select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/admin/vendors/tags/css/bootstrap-tags.css}" rel="stylesheet">

    <link th:href="@{/admin/css/forms.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">Admin </a></h1>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="login.html">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li class="current"><a href="/room"><i class="glyphicon glyphicon-list"></i> Room</a></li>
                    <li class="current"><a href="/category"><i class="glyphicon glyphicon-list"></i> Category</a></li>
                    <li class="current"><a href="/bookAdmin"><i class="glyphicon glyphicon-list"></i> book</a></li>
                    <li class="submenu">
                        <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">

            <div class="row">

                <div class="col-md-12">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Create Room</div>

                            <div class="panel-options">
                                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form th:action="@{/edit-category}" th:object="${editCategory}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" th:type="hidden" th:field="*{id}">
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" placeholder="Name Room" type="text" th:field="*{name}">
                                        <label class="text-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                                    </div>
                                </fieldset>
                                <div>
                                    <a class="btn btn-default" type="submit" href="/category">Cancel</a>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-save"></i>
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Page content -->
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/admin/bootstrap/js/bootstrap.min.js}"></script>

<script th:src="@{/admin/vendors/form-helpers/js/bootstrap-formhelpers.min.js}"></script>

<script th:src="@{/admin/vendors/select/bootstrap-select.min.js}"></script>

<script th:src="@{/admin/vendors/tags/js/bootstrap-tags.min.js}"></script>

<script th:src="@{/admin/vendors/mask/jquery.maskedinput.min.js}"></script>

<script th:src="@{/admin/vendors/moment/moment.min.js}"></script>

<script th:src="@{/admin/vendors/wizard/jquery.bootstrap.wizard.min.js}"></script>

<!-- bootstrap-datetimepicker -->
<link th:href="@{/admin/vendors/bootstrap-datetimepicker/datetimepicker.css}" rel="stylesheet">
<script th:src="@{/admin/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script th:src="@{/admin/js/custom.js}"></script>
<script th:src="@{/admin/js/forms.js}"></script>
</body>

</html>